#HeroDiv {
    min-width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    background-color: firebrick;
}

.picDiv {
    height: 100%;
    background-image: url("https://images.pexels.com/photos/9867098/pexels-photo-9867098.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.txtDiv {
    position: relative;
    background: linear-gradient(135deg, firebrick 45%, #906bff00 0%);
    height: 100%;
    width: 220%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: whitesmoke;
    font-size: 2rem;
}

@media (min-width : 1050px) {
    .txtDiv h1 {
        font-size: 2.3rem;
        max-width: 500px;
    }
}


@media (min-width : 925px) {
    .txtDiv h1 {
        font-size: rem;
        max-width: 380px;
    }
}

@media (min-width : 725px) {
    .txtDiv h1 {
        font-size: 2rem;
        max-width: 297px;
    }
}

@media (min-width : 290px) and (max-width : 725px) {
    .Snav{
        background: transparent;
    }

    .txtDiv {
        display: none;
    }

    .picDiv {
        display: none;
    }

    #HeroDiv{
        min-height: 100vh;
        background-color: transparent;
        background-attachment: fixed;
        background-image: url("http://localhost:4000/pr0ducts/1758939510143.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}