.sngleCompnyPrdct {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 30px;
}

.cmpny-name {
    margin-bottom: 10px;
}

.sngleCompnyPrdct hr {
    width: 100%;
    display: block;
    margin: auto;
}

.prdct-crd-Cont {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    overflow-x: scroll;
}

.prdctImg {
    width: 230px;
    height: 250px;
    object-fit: contain;
}

.prdct-crd-Cont::-webkit-scrollbar {
    display: none;
}

.cmpny-Prdct-Crd {
    padding: 10px;
    min-height: 260px;
    width: 245px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 5px black;
}

.desc-div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.nameAndcompany {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cmpnyName {
    color: firebrick;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.cuntr-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cuntr-div button {
    padding: 2px 5px;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

.Add {
    background-color: rgba(28, 224, 28, 0.333);
    color: green;
}

.Sub {
    background-color: rgba(255, 0, 0, 0.304);
    color: red;
}

.AddToCartBtn {
    padding: 3px 16px;
    background: linear-gradient(180deg, rgb(185, 95, 53) 0%, rgba(0, 255, 0, 0.105) 100%);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 3px black;
    font-size: 17px;
    color: firebrick;
    cursor: pointer;
}

.AddToCartBtn:active {
    background: transparent;
}

.lodr-cont {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.lodr {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(128, 128, 128, 0.407);
    border-top: 2px solid black;
    transition: all;
    animation: spinner 1s ease-in-out infinite;

}


@keyframes spinner {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}
